{{
#>
 main-layout title='UI Home' }}
    <div class="ui_home">
        <h1>Homepage</h1>

        <div id="user_op_response">
            {{#if err}}
                {{err}}
            {{/if}}
        </div>

        <div class="input_container" id="input_container">
            <div class="user_input" id="user_input">
                <form
                    class="form-style"
                    hx-target="#response_container"
                    hx-swap="innerHTML"
                    {{!-- Why is this attaching URL parameters? --}}
                    {{!-- hx-post="/prompt" --}}
                    method="POST"
                    action="/prompt"
                >
                    <ul>
                        <li>
                            <input type="text" name="prompt" id="prompt" class="field-style field-full align-none" placeholder="Enter a prompt ..." />
                        </li>
                        <li>
                            <button type="submit">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="response_container" id="response_container" />
    </div>
{{/main-layout}}