legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

input[type="time"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="time"]:focus:before,
input[type="time"]:valid:before {
    content: "";
}

button {
    cursor: pointer;
}

.error_msg {
    color: red;
    font-weight: bold;
    font-size: small;
}

.success_msg {
    color: green;
    font-weight: bold;
    font-size: small;
}



/***************
** Navigation **
***************/

.nav .active {
    background-color: #afb2ed;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #216288;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}

.nav .header img {
    text-align: center;
    margin: auto;
    max-width: 80px;
    height: auto;
}

.nav textarea {
    min-height: 10rem;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(132, 183, 230);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5995b8d6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content button {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.user-dropdown {
    float: left;
    overflow: hidden;
  }
  
  .user-dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .user-dropdown:hover .dropbtn {
    background-color: rgb(132, 183, 230);
  }
  
  .user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.user-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user-dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.user-dropdown-content a:hover {
    background-color: #ddd;
}
  
.user-dropdown:hover .user-dropdown-content {
    display: block;
}

/*************
**** Form ****
*************/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.error_div {
    margin: auto;
    text-align: center;
    color: red;
}

.formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
}

.formcontainer form {
    line-height: 2;
}

.formcontainer input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    border-radius: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #232121;
    box-sizing: border-box;
}

.form-style {
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.form-style label {
    font-size: small;
}

.form-style ul{
	padding:0;
	margin:0;
	list-style:none;
}

.form-style h1 {
    text-align: center;
}

.form-style ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.form-style a {
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-style ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
    border-radius: 5px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style ul li .field-split{
	width: 49%;
}
.form-style ul li .field-full{
	width: 100%;
}
.form-style ul li input.align-left{
	float:left;
}
.form-style ul li input.align-right{
	float:right;
}

/*****************
*** Validation ***
*****************/

.validation_div {
    text-align: center;
    font-weight: bold;
}

.validation_error {
    color: #d23f35;
  }

.validation_success {
    color: #0aec24;
  }

/**************
**** Alert ****
**************/


.alert_error {
    padding: 10px;
    background-color: #d23f35; 
    color: white;
    margin-bottom: 10px;
  }

.alert_success {
    padding: 10px;
    background-color: #0aec24;
    color: white;
    margin-bottom: 10px;
  }
  

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  

.closebtn:hover {
    color: black;
  }


/**************
**** Login ****
**************/
#login_errors {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.container {
    border-radius: 10px;
    padding: 16px 0;
    height: 0.5em;
}
.form-style span.psw {
    float: right;
    padding-right: 15px;
    line-height: 0.5em; 
    vertical-align: middle;
}
.form-style span.reg {
    float: left;
    padding-left: 15px;
    line-height: 0.5em; 
    vertical-align: middle;
}

    /* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    .login-form span.psw {
        display: block;
        float: none;
    }
}

/******************
*** Fixed Table ***
******************/

/* default styling. Nothing to do with freexing first row and column */
table {border-collapse: collapse; font-family: helvetica}

.table-container td, th {border:  1px solid;
      padding: 10px;
      min-width: 200px;
      background: white;
      box-sizing: border-box;
      text-align: left;
}

.table-container {
  position: relative;
  max-height:  300px;
  /* width: 500px; */
  overflow: scroll;
}

.table-container thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(67, 36%, 52%);
}

.table-container thead th:first-child {
  left: 0;
  z-index: 3;
}

tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: hsl(67, 36%, 52%);
}

tfoot td:first-child {
  z-index: 3;
}

.table-container tbody {
  overflow: scroll;
  height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
.table-container tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  background: #216288;
  left: 0; 
}
/* don't do this */
.table-container tr > :first-child {
  box-shadow: inset 0px 1px black;
}


/*********************
** Responsive Table **
*********************/

.action_btn {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #4c60ad;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.responsive_table h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(40, 5, 50);
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    table-layout:fixed;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
         max-width: 0;
    }
}

/***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 
